# Мусор от shell
-H
-d

# Системные файлы
.env
__pycache__/
*.pyc
*.pyo
.DS_Store
Thumbs.db

# Архивы и бэкапы
*.tar.gz
*.zip
/tmp/
/backups/

# Данные тестов
*.log
/logs/

# Виртуальное окружение
venv/
.venv/

# IDE
.vscode/
.idea/
